// Body
$body-bg: #f8fafc;
$border: rgb(230, 230, 230);

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// MediaQuery
$mb: 767px;

@mixin mobile {
  @media screen and (max-width: $mb) {
    @content;
  }
}
