$border-color: rgb(220, 220, 220);
$side-color: rgb(247, 247, 247);
$header-color: rgb(250, 250, 250);
$main-color: rgb(255, 255, 255);

* {
  padding: 0;
  margin: 0;
  font-size: 1em;
}

ul {
    list-style: none;
}


body {
    #camp-app {
        display: flex;
        flex-direction: column; 
        min-height: 100vh;
        width: 100%;
        
        header {
            display: flex;
            height: 80px;
            position: fixed;
            z-index: 10;
            width: 100%;
            .logo {
                height: 80px;
                width: 258px;
                border-right: 1px solid $border-color;
                background-color: $side-color;
            }
            .title {
                flex: 1;
                border-bottom: 1px solid $border-color;
                background-color: $header-color;
            }
        }
        
        .middle {
            display: flex;
            flex: 1;
            width: 100%;
            
            nav {
                width: 258px;
                border-right: 1px solid $border-color;
                background-color: $side-color;
                padding-top: 80px;
                position: fixed;
                z-index: 9;
                
                .nav {
                    min-height: 100vh;
                    margin: 0;
                    padding: 0;
                    a {
                        text-decoration: none;
                        display: flex;
                        margin: 20px 0px;
                        border-bottom: 1px solid $border-color;
                        
                        img {
                            padding: 0px 20px;
                        }
                        
                        li {
                            text-align: center;
                            list-style: none;
                            font-size: 1.5em;
                            font-family: 'Nunito', sans-serif;
                            font-weight: bold;
                            padding: 0px 20px;
                        }
                    }
                }
            }
            
            main {
                flex: 1;
                background-color: $main-color;
                padding-left: 258px;
                padding-top: 80px;
                width: 100%;
                min-height: 100vh;
                display: flex;
                .main-category {
                    flex: 1;
                    width: 100%;
                    .profile {
                        width: 100%;
                        .profile-index {
                            height:200px;
                            display: flex;
                            border-bottom: 1px solid $border-color;
                            
                            .profile-image {
                                height: 160px;
                                width: 160px;
                                margin: 20px;
                                background-image: url(/images/prof.jpg);
                                background-size: cover;
                                background-position: center;
                                border-radius: 100%;
                            }
                            .profile-content {
                                height: 200px;
                                flex: 1;
                            }
                        }
                        
                        .profile-nav {
                            margin: 0;
                            padding: 0;
                            height: 36px;
                            display: flex;
                            justify-content: center;
                            a {
                                text-decoration: none;
                                li {
                                    margin: 0px 50px;
                                    font-size: 1.5em;
                                    list-style: none;
                                }
                            }
                        }
                        
                        .profile-main-posts {
                            display: flex;
                            flex-wrap: wrap;
                            .profile-main-posts-image {
                                width: 33.1%;
                                padding-top: 33%;
                                background-image: url(/images/prof.jpg);
                                background-size: cover;
                                background-position: center;
                                position: relative;
                                border: 1px solid $border-color;
                                .p-center {
                                    position: absolute;
                                    top: 50%;
                                    left: 0;
                                    transform: translateY(-50%);
                                    width: 100%;
                                    text-align: center;
                                    font-size: 1.4em;
                                }
                            }
                        }
                        
                        .profile-main-gear {
                            width: 100%;
                            .profile-main-gear-nav {
                                border-top: 1px solid $border-color;
                                position: relative;
                                ul {
                                    display: flex;
                                    justify-content: space-between;
                                    .categories {
                                        display: block;
                                        height: 36px;
                                        line-height: 36px;
                                        text-align: center;
                                        min-width: 30px;
                                        font-size: 1em;
                                        &:hover {
                                            border-bottom: 1px solid $border-color;
                                        }
                                        &:hover > .categories-submenu{
                                            height: auto;
                                            overflow: visible;
                                        }
                                        .categories-submenu {
                                            background-color: white;
                                            display: flex;
                                            flex-direction: column;
                                            height: 0;
                                            overflow: hidden;
                                        }
                                        .categories-submenu:hover {
                                            height: 100%;
                                            overflow: visible;
                                        }
                                    }
                                }
                            }
                                
                                .pagination {
                                    height: 0;
                                    overflow: hidden;
                                    .paginate-prev{
                                        height: auto;
                                        overflow: visible;
                                        position: absolute;
                                        top: 0px;
                                        left: 0px;
                                        display: block;
                                        height: 36px;
                                        line-height: 36px;
                                        text-align: center;
                                        min-width: 30px;
                                        font-size: 1em;
                                    }
                                    .paginate-next{
                                        height: auto;
                                        overflow: visible;
                                        position: absolute;
                                        top: 0px;
                                        right: 0px;
                                        display: block;
                                        height: 36px;
                                        line-height: 36px;
                                        text-align: center;
                                        min-width: 30px;
                                        font-size: 1em;
                                    }
                                }
                            }
                            
                            .profile-main-gear-category {
                                width: 100%;
                                .profile-main-gear-category-timeline {
                                    width: 100%;
                                    position: relative;
                                    .profile-main-gear-category-timeline-header {
                                        height: 36px;
                                        border-top: 1px solid $border-color;
                                        border-bottom: 1px solid $border-color;
                                    }
                                    
                                    .profile-main-gear-category-timeline-gear-timeline {
                                        width: 100%;
                                        display: flex;
                                        position: relative;
                                        a {
                                            width: 20%;
                                            .profile-main-gear-category-timeline-gear-timeline-index {
                                            .profile-main-gear-category-timeline-gear-timeline-index-image {
                                                width: 100%;
                                                padding-top: 100%;
                                                background-image: url(/images/prof.jpg);
                                                background-size: cover;
                                                background-position: center;
                                                border: 1px solid $border-color;
                                            }
                                        }
                                        }
                                        .profile-main-gear-category-timeline-gear-timeline-paginate-prev {
                                            width: 7%;
                                            margin-right: 3%; 
                                        }
                                        .profile-main-gear-category-timeline-gear-timeline-paginate-next {
                                            position: absolute;
                                            right: 0px;
                                            width: 7%;
                                            height: 100%;
                                            margin-left: 3%; 
                                        }
                                    }
                                    
                                    .pagination {
                                        width: 7%;
                                        height: 0;
                                        overflow: hidden;
                                        .paginate-prev{
                                            overflow: visible;
                                            position: absolute;
                                            top: 50%;
                                            left: 0px;
                                            display: block;
                                            height: 36px;
                                            line-height: 36px;
                                            text-align: center;
                                            min-width: 30px;
                                            font-size: 1em;
                                        }
                                        .paginate-next{
                                            overflow: visible;
                                            position: absolute;
                                            top: 50%;
                                            right: 0px;
                                            display: block;
                                            height: 36px;
                                            line-height: 36px;
                                            text-align: center;
                                            min-width: 30px;
                                            font-size: 1em;
                                        }
                                    }
                                }
                            }
                        }
                        
                        .profile-main-post-index {
                            ul {
                                li{
                                list-style: none;
                                .post-header {
                                    height: 80px;
                                    border-bottom: 1px solid $border-color;
                                    ul {
                                        display: flex;
                                        li {
                                            .post-header-userImage{
                                                border: 1px solid $border-color;
                                                height: 60px;
                                                width: 60px;
                                                margin: 10px;
                                                background-image: url(/images/prof.jpg);
                                                background-size: cover;
                                                background-position: center;
                                                border-radius: 100%;
                                            }
                                        }
                                        .post-header-index {
                                            flex: 1;
                                            ul{
                                                height: 40px;
                                                display: flex;
                                                .post-header-index-title {
                                                    flex: 1;
                                                    display: flex;
                                                	align-items: center;
                                                	justify-content: flex-end;
                                                }
                                                .post-header-index-content {
                                                    width: 200px;
                                                    display: flex;
                                                	align-items: center;
                                                	justify-content: center;
                                                }
                                            }
                                        }
                                    }
                                }
                                .post-img {
                                    height: 500px;
                                    background-image: url(/images/prof.jpg);
                                    background-size: cover;
                                    background-position: center;
                                }
                                .post-content {
                                    height: 150px;
                                    border: {
                                        top: 1px solid $border-color;
                                        bottom: 1px solid $border-color;
                                    };
                                    ul {
                                        display: flex;
                                    }
                                }
                            }
                        }
                        
                    }
                
                    .timeline{
                        ul {
                            li{
                                list-style: none;
                                .post-header {
                                    height: 80px;
                                    border-bottom: 1px solid $border-color;
                                    ul {
                                        display: flex;
                                        li {
                                            .post-header-userImage{
                                                border: 1px solid $border-color;
                                                height: 60px;
                                                width: 60px;
                                                margin: 10px;
                                                background-image: url(/images/prof.jpg);
                                                background-size: cover;
                                                background-position: center;
                                                border-radius: 100%;
                                            }
                                        }
                                        .post-header-index {
                                            flex: 1;
                                            ul{
                                                height: 40px;
                                                display: flex;
                                                .post-header-index-title {
                                                    flex: 1;
                                                    display: flex;
                                                	align-items: center;
                                                	justify-content: flex-end;
                                                }
                                                .post-header-index-content {
                                                    width: 200px;
                                                    display: flex;
                                                	align-items: center;
                                                	justify-content: center;
                                                }
                                            }
                                        }
                                    }
                                }
                                .post-img {
                                    height: 500px;
                                    background-image: url(/images/prof.jpg);
                                    background-size: cover;
                                    background-position: center;
                                }
                                .post-content {
                                    height: 150px;
                                    border: {
                                        top: 1px solid $border-color;
                                        bottom: 1px solid $border-color;
                                    };
                                    ul {
                                        display: flex;
                                    }
                                }
                            }
                        }
                    }
                }
                
                .sub-category{
                    width: 300px;
                    border-left: 1px solid $border-color;
                }
            }
        }
    }
}