body {
    margin: 0;
    
        
    #app {
        display: flex;
        flex-direction: column; 
        min-height: 100vh;
        
        header {
            display: flex;
            height: 100px;
            .logo {
                width: 250px;
            }
            .title {
                flex: 1;
            }
        }
        
        .middle {
            display: flex;
            flex: 1;
            
            nav {
                width: 250px;
                .nav {
                    min-height: 100%;
                    margin: 0;
                    padding: 0;
                    a {
                        text-decoration: none;
                        li {
                        text-align: center;
                        margin: 20px 0px;
                        list-style: none;
                        font-size: 1.6em;
                        }
                    }
                }
            }
            
            main {
                flex: 1;
            }
        }
    }
}