body {
    margin: 0;
    
        
    #app {
        display: flex;
        flex-direction: column; 
        min-height: 100vh;
        
        header {
            display: flex;
            height: 100px;
            .logo {
                width: 300px;
            }
            .title {
                flex: 1;
            }
        }
        
        .middle {
            display: flex;
            flex: 1;
            
            nav {
                width: 300px;
                .nav {
                    min-height: 100%;
                    margin: 0;
                    padding: 0;
                    a {
                        text-decoration: none;
                        display: flex;
                        margin: 20px;
                        
                        li {
                            text-align: center;
                            list-style: none;
                            font-size: 20px;
                            font-family: inherit;
                            padding: 0px 20px;
                        }
                    }
                }
            }
            
            main {
                flex: 1;
            }
        }
    }
}