@import '../variables';

.count {
  margin: 10px;
  font-size: 18px;
  @include mobile {
    margin: 7px;
    font-size: 14px;
  }
}

.text {
  > div {
    font-size: 16px;
  }
}

.upload {
  margin: 0 10px !important;
  background-color: #1876d1 !important;
  color: white !important;
  &__input {
    display: none;
  }
}

.submit {
  margin: 16px !important;
  background-color: #1876d1 !important;
  color: white !important;
}
