@import '../variables';

.postForm {
  margin: 32px;
  display: flex;
  min-width: 300;
  @include mobile {
    margin: 16px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.template {
  min-width: 300px;
  border: 1px solid #d3d4d5;
}
