body {
  margin: 0;
}

body #app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body #app header {
  height: 150px;
}

body #app .middle {
  display: flex;
  flex: 1;
}

body #app .middle nav {
  width: 250px;
}

body #app .middle main {
  flex: 1;
}

