* {
  padding: 0;
  margin: 0;
  font-size: 1em;
}

body #camp-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body #camp-app header {
  display: flex;
  height: 80px;
}
body #camp-app header .logo {
  height: 80px;
  position: fixed;
  width: 258px;
  border-right: 1px solid gainsboro;
  background-color: #f7f7f7;
}
body #camp-app header .title {
  padding-left: 258px;
  flex: 1;
  border-bottom: 1px solid gainsboro;
  background-color: #fafafa;
}
body #camp-app .middle {
  display: flex;
  flex: 1;
}
body #camp-app .middle nav {
  width: 258px;
  border-right: 1px solid gainsboro;
  background-color: #f7f7f7;
  position: fixed;
}
body #camp-app .middle nav .nav {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body #camp-app .middle nav .nav a {
  text-decoration: none;
  display: flex;
  margin: 20px 0px;
  border-bottom: 1px solid gainsboro;
}
body #camp-app .middle nav .nav a img {
  padding: 0px 20px;
}
body #camp-app .middle nav .nav a li {
  text-align: center;
  list-style: none;
  font-size: 1.5em;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  padding: 0px 20px;
}
body #camp-app .middle main {
  flex: 1;
  background-color: white;
  padding-left: 258px;
  min-height: 100vh;
}
body #camp-app .middle main .profile-index {
  height: 200px;
  display: flex;
  border-bottom: 1px solid gainsboro;
}
body #camp-app .middle main .profile-index .profile-image {
  height: 160px;
  width: 160px;
  margin: 20px;
  background-image: url(/images/prof.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}
body #camp-app .middle main .profile-index .profile-content {
  height: 200px;
  flex: 1;
}
body #camp-app .middle main .profile-nav {
  margin: 0;
  padding: 0;
  height: 36px;
  display: flex;
  justify-content: center;
}
body #camp-app .middle main .profile-nav a {
  text-decoration: none;
}
body #camp-app .middle main .profile-nav a li {
  margin: 0px 50px;
  font-size: 1.5em;
  list-style: none;
}
body #camp-app .middle main .home-all {
  display: flex;
}
body #camp-app .middle main .home-all .timeline {
  flex: 1;
}
body #camp-app .middle main .home-all .timeline ul li {
  list-style: none;
}
body #camp-app .middle main .home-all .timeline ul li .timeline-header {
  height: 80px;
  border-bottom: 1px solid gainsboro;
}
body #camp-app .middle main .home-all .timeline ul li .timeline-header ul {
  display: flex;
}
body #camp-app .middle main .home-all .timeline ul li .timeline-header ul li .timeline-header-userImage {
  border: 1px solid gainsboro;
  height: 60px;
  width: 60px;
  margin: 10px;
  background-image: url(/images/prof.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}
body #camp-app .middle main .home-all .timeline ul li .timeline-header ul .timeline-header-index {
  flex: 1;
}
body #camp-app .middle main .home-all .timeline ul li .timeline-header ul .timeline-header-index ul {
  height: 40px;
  display: flex;
}
body #camp-app .middle main .home-all .timeline ul li .timeline-header ul .timeline-header-index ul .timeline-header-index-title {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
body #camp-app .middle main .home-all .timeline ul li .timeline-header ul .timeline-header-index ul .timeline-header-index-content {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #camp-app .middle main .home-all .timeline ul li .timeline-img {
  height: 500px;
  background-image: url(/images/prof.jpg);
  background-size: cover;
  background-position: center;
}
body #camp-app .middle main .home-all .timeline ul li .timeline-content {
  height: 150px;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}
body #camp-app .middle main .home-all .timeline ul li .timeline-content ul {
  display: flex;
}
body #camp-app .middle main .home-all .subcategory {
  width: 300px;
  border-left: 1px solid gainsboro;
}
